extends templates/base

block content
  header.header
    .container
      .container__side.header__side
        a(href="#").header__logo.logo
      .container__content.header__content
        nav.header__nav.nav
          ul.nav__list
            li.nav__item
              a.nav__link(href="#")
                span Post
            li.nav__item
              a.nav__link.nav__link_active(href="#")
                span Search
            li.nav__item
              a.nav__link(href="#")
                span My Executives
            li.nav__item
              a.nav__link(href="#")
                span FAQ
        ul.header__contacts-list
          li.header__contacts-item
            a.header__contacts-link(href="#")
              span Contact Cerius
          li.header__contacts-item
            a.header__contacts-link(href="tel:(888) 565-5289")
              span (888) 565-5289
        .header__user
          .header__user-item
            span Roman Kvartalnov
            .header__user-dropdown.dropdown
              ul.dropdown__list
                li.dropdown__item
                  a.dropdown__link
                    span Some link
                li.dropdown__item
                  a.dropdown__link
                    span Logout
  .wrapper
    .container
      aside.container__side.side
        .side-block
          .side-block__title
            input(type="text", name="name", placeholder="Functional Role").side-block__title-input
          .side-block__content
            ul.side-block__list
              li.side-block__list-item
                label.side-block__list-label
                  input(type="checkbox", name="name", value="").side-block__list-checkbox
                  span.side-block__list-link Administration
              li.side-block__list-item
                label.side-block__list-label
                  input(type="checkbox", name="name", value="").side-block__list-checkbox
                  span.side-block__list-link Bus Dev
              li.side-block__list-item
                label.side-block__list-label
                  input(type="checkbox", name="name", value="").side-block__list-checkbox
                  span.side-block__list-link CEO
              li.side-block__list-item
                label.side-block__list-label
                  input(type="checkbox", name="name", value="").side-block__list-checkbox
                  span.side-block__list-link Customer Service
              li.side-block__list-item
                label.side-block__list-label
                  input(type="checkbox", name="name", value="").side-block__list-checkbox
                  span.side-block__list-link Distribution
              li.side-block__list-item
                label.side-block__list-label
                  input(type="checkbox", name="name", value="").side-block__list-checkbox
                  span.side-block__list-link Engineering
              li.side-block__list-item
                label.side-block__list-label
                  input(type="checkbox", name="name", value="").side-block__list-checkbox
                  span.side-block__list-link Finance
              li.side-block__list-item
                label.side-block__list-label
                  input(type="checkbox", name="name", value="").side-block__list-checkbox
                  span.side-block__list-link General Councel
        .side-block
          .side-block__title
            input(type="text", name="name", placeholder="Industry").side-block__title-input
          .side-block__content
            ul.side-block__list
              li.side-block__list-item
                label.side-block__list-label
                  input(type="checkbox", name="name", value="").side-block__list-checkbox
                  span.side-block__list-link Administration
              li.side-block__list-item
                label.side-block__list-label
                  input(type="checkbox", name="name", value="").side-block__list-checkbox
                  span.side-block__list-link Bus Dev
              li.side-block__list-item
                label.side-block__list-label
                  input(type="checkbox", name="name", value="").side-block__list-checkbox
                  span.side-block__list-link CEO
        .side-block
          .side-block__title
            input(type="text", name="name", placeholder="Location").side-block__title-input
          .side-block__content
            .side-block__field
              select.custom-select
                option(value='AK') Alaska
                option(value='HI') Hawaii
                option(value='CA') California
                option(value='NV') Nevada
                option(value='OR') Oregon
                option(value='WA') Washington
                option(value='AZ') Arizona
                option(value='CO') Colorado
                option(value='ID') Idaho
                option(value='MT') Montana
                option(value='NE') Nebraska
                option(value='NM') New Mexico
                option(value='ND') North Dakota
                option(value='UT') Utah
                option(value='WY') Wyoming
                option(value='AL') Alabama
                option(value='AR') Arkansas
                option(value='IL') Illinois
                option(value='IA') Iowa
                option(value='KS') Kansas
                option(value='KY') Kentucky
                option(value='LA') Louisiana
                option(value='MN') Minnesota
                option(value='MS') Mississippi
                option(value='MO') Missouri
                option(value='OK') Oklahoma
                option(value='SD') South Dakota
                option(value='TX') Texas
                option(value='TN') Tennessee
                option(value='WI') Wisconsin
                option(value='CT') Connecticut
                option(value='DE') Delaware
                option(value='FL') Florida
                option(value='GA') Georgia
                option(value='IN') Indiana
                option(value='ME') Maine
                option(value='MD') Maryland
                option(value='MA') Massachusetts
                option(value='MI') Michigan
                option(value='NH') New Hampshire
                option(value='NJ') New Jersey
                option(value='NY') New York
                option(value='NC') North Carolina
                option(value='OH') Ohio
                option(value='PA') Pennsylvania
                option(value='RI') Rhode Island
                option(value='SC') South Carolina
                option(value='VT') Vermont
                option(value='VA') Virginia
                option(value='WV') West Virginia
            .side-block__field
              label.side-block__field-label ZIP
              input.side-block__field-input(type="text")
            .side-block__field
              label.side-block__field-label Radius
              .side-block__field-group
                input.side-block__field-input(type="text")
                span.side-block__field-sub miles
        .side-block
          .side-block__title
            input(type="text", name="name", placeholder="Expertise").side-block__title-input
        .side-block.side-block
          .side-block__content.side-block__content_white
            .side-block__controls
              a.btn.btn_blue.btn_full
                span Refresh
              a.btn.btn_white.btn_full
                span Clear All
            .side-block__hr
            .side-block__controls.side-block__controls_center
              a.favorite.favorite_large
                span Favorite
            
      section.container__content.content
        section.search
          form.search-form
            input(type="text", name="name", placeholder="Search keywords").search-form__input
            .search-form__select-wrapper
              select.search-form__select
                option Everywhere
                option Everything
                option In category
            .search-form__separator
            input(type="submit", name="name", value="").search-form__btn
            
        section.create-post
          h3.create-post__text Let the executives come to you!
          a.btn.create-post__btn Create a post
        section.executives
          .executives__find
            span.executives__find-text We found 
              a(href="#").executives__find-link 1 624 number of executives
              |  for you:
          ul.executives__list                     
            li.executives__list-item
              .executive.executive_new
                .executive__id
                  span #40568001
                .executive__content
                  .executive__left
                    .executive__head
                      .executive__head-thumb
                        img(src="http://placehold.it/50x50", alt="")
                      .executive__head-title Information Technology,
                    .executive__all
                      span Managing Director, General Management, Operations
                    .executive__controls
                      a.btn.executive__btn
                        sapn Get introduced
                      a.favorite
                        span Favorite
                  .executive__right
                    .executive__lists.executive__lists_expertise
                      .executive__lists-title Expertise
                      .executive__lists-text
                        span Audit preparation, Management, Communications, Collective Bargaining,  Disaster recovering planning, Complex ownership structure, eCommerce, Creating product demand, Emerging industries, Budgeting, 
                          a(href="#").executive__link 3 more...                       
                    .executive__lists
                      .executive__lists-title Industries
                      .executive__lists-text
                        span Consumer Goods/Services, Distribution, Food and Beverage, Warehousing, Wholesale, Agriculture, Banking & Financial Services, Private Equity, 
                          a(href="#").executive__link 2 more...                       
            li.executives__list-item
              .executive.executive_new
                .executive__id
                  span #40568001
                .executive__content
                  .executive__left
                    .executive__head
                      .executive__head-thumb
                        img(src="http://placehold.it/50x50", alt="")
                      .executive__head-title Information Technology,
                    .executive__all
                      span Managing Director, General Management, Operations
                    .executive__controls
                      a.btn.executive__btn
                        sapn Get introduced
                      a.favorite
                        span Favorite
                  .executive__right
                    .executive__lists.executive__lists_expertise
                      .executive__lists-title Expertise
                      .executive__lists-text
                        span Audit preparation, Management, Communications, Collective Bargaining,  Disaster recovering planning, Complex ownership structure, eCommerce, Creating product demand, Emerging industries, Budgeting, 
                          a(href="#").executive__link 3 more...                       
                    .executive__lists
                      .executive__lists-title Industries
                      .executive__lists-text
                        span Consumer Goods/Services, Distribution, Food and Beverage, Warehousing, Wholesale, Agriculture, Banking & Financial Services, Private Equity, 
                          a(href="#").executive__link 2 more...                       
            li.executives__list-item
              .executive.executive_new
                .executive__id
                  span #40568001
                .executive__content
                  .executive__left
                    .executive__head
                      .executive__head-thumb
                        img(src="http://placehold.it/50x50", alt="")
                      .executive__head-title Information Technology,
                    .executive__all
                      span Managing Director, General Management, Operations
                    .executive__controls
                      a.btn.executive__btn
                        sapn Get introduced
                      a.favorite
                        span Favorite
                  .executive__right
                    .executive__lists.executive__lists_expertise
                      .executive__lists-title Expertise
                      .executive__lists-text
                        span Audit preparation, Management, Communications, Collective Bargaining,  Disaster recovering planning, Complex ownership structure, eCommerce, Creating product demand, Emerging industries, Budgeting, 
                          a(href="#").executive__link 3 more...                       
                    .executive__lists
                      .executive__lists-title Industries
                      .executive__lists-text
                        span Consumer Goods/Services, Distribution, Food and Beverage, Warehousing, Wholesale, Agriculture, Banking & Financial Services, Private Equity, 
                          a(href="#").executive__link 2 more...                       
            li.executives__list-item
              .executive
                .executive__id
                  span #40568001
                .executive__content
                  .executive__left
                    .executive__head
                      .executive__head-thumb
                        img(src="http://placehold.it/50x50", alt="")
                      .executive__head-title Information Technology,
                    .executive__all
                      span Managing Director, General Management, Operations
                    .executive__controls
                      a.btn.executive__btn
                        sapn Get introduced
                      a.favorite
                        span Favorite
                  .executive__right
                    .executive__lists.executive__lists_expertise
                      .executive__lists-title Expertise
                      .executive__lists-text
                        span Audit preparation, Management, Communications, Collective Bargaining,  Disaster recovering planning, Complex ownership structure, eCommerce, Creating product demand, Emerging industries, Budgeting, 
                          a(href="#").executive__link 3 more...                       
                    .executive__lists
                      .executive__lists-title Industries
                      .executive__lists-text
                        span Consumer Goods/Services, Distribution, Food and Beverage, Warehousing, Wholesale, Agriculture, Banking & Financial Services, Private Equity, 
                          a(href="#").executive__link 2 more...                       
            li.executives__list-item
              .executive.executive_new
                .executive__id
                  span #40568001
                .executive__content
                  .executive__left
                    .executive__head
                      .executive__head-thumb
                        img(src="http://placehold.it/50x50", alt="")
                      .executive__head-title Information Technology,
                    .executive__all
                      span Managing Director, General Management, Operations
                    .executive__controls
                      a.btn.executive__btn
                        sapn Get introduced
                      a.favorite
                        span Favorite
                  .executive__right
                    .executive__lists.executive__lists_expertise
                      .executive__lists-title Expertise
                      .executive__lists-text
                        span Audit preparation, Management, Communications, Collective Bargaining,  Disaster recovering planning, Complex ownership structure, eCommerce, Creating product demand, Emerging industries, Budgeting, 
                          a(href="#").executive__link 3 more...                       
                    .executive__lists
                      .executive__lists-title Industries
                      .executive__lists-text
                        span Consumer Goods/Services, Distribution, Food and Beverage, Warehousing, Wholesale, Agriculture, Banking & Financial Services, Private Equity, 
                          a(href="#").executive__link 2 more...
  .footer
    .container
      .container__side.footer__side
        .footer__logo.logo
      .container__content.footer__content
        span.footer__copyright Copyright 2016 Cerius Executives. All rights reserved. By using this application you agree to be bound by the
          a(href="#").footer__link  Terms of Use
          | .
